doctype html
html
 head
  meta(charset="UTF-8")
  title Awesome Login In Form
  link(rel="stylesheet" href="css/font-awesome.min.css")
  link(rel="stylesheet" href="css/index.css")
 body
  div.container#container
   div.form-container.sign-up-container
    form(action="#")
     h1 Create Acount
     div.Social-container
     
       |
       |
       a(href="#" class="social")
        i.fa.fa-facebook-f
       |
       |
       a(href="#" class="social")
        i.fa.fa-google-plus
       |
       |
       a(href="#" class="social")
        i.fa.fa-linkedin
     |
     |
     
     input(type="text" placeholder="Name")
     input(type="email" placeholder="Email")
     input(type="password" placeholder="password")
     button Sign Up
  
  script(src="js/index.js")